body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
html::-webkit-scrollbar {
    background: transparent;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Fonts */
body {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

header {
    float: left;
    width: 100%;
    height: 100vh;
}



footer {
    float: left;
    width: 100%;
    height: 10px;   
}

.avatar img {
    width: 200px;
    height: 200px;

    border: 2px solid white;
    margin-right: 100px;

}

.topic {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

.nick {
    width: 6ch;
    color: white;
    font-family: monospace;
    font-size: 50px;
    white-space: nowrap; /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    animation: printed_text 3s steps(6, end) forwards;
    position: relative;
    margin-left: 21%;
  }

  @keyframes printed_text{
    from {
      width: 0;
    }
  }

.text {
    width: 21ch;
    color: white;
    font-family: monospace;
    font-size: 25px;
    white-space: nowrap; /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    animation: printed_text 3s steps(21, end) forwards;
    position: relative;

}


@media (width < 720px) {
    .avatar {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
    }
    .text {
        width: 21ch;
        color: white;
        font-family: monospace;
        font-size: 25px;
        white-space: nowrap; /* не переносить текст на другую строку */
        overflow: hidden; /* скрываем переполнение контентом */
        animation: printed_text 3s steps(21, end) forwards;
    
    }
    .nick {
        width: 6ch;
        color: white;
        font-family: monospace;
        font-size: 50px;
        white-space: nowrap; /* не переносить текст на другую строку */
        overflow: hidden; /* скрываем переполнение контентом */
        animation: printed_text 3s steps(6, end) forwards;
      }
      .avatar img {
        position: relative;
    
        width: 200px;
        height: 200px;
    
        border: 2px solid white;
        margin-right: 0px;
    }
}


main {
    float: left;
    width: 100%;
    height: 100vh;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.btn {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 20px;
}

.btn img {
    width: 100px;
    height: 100px;
    
}
.instagram {
    background-image: url(/assets/img/instagram.png);
    background-size: cover;
}
.telegram {
    background-image: url(/assets/img/telegram.png);
    background-size: cover;
}
.github {
    background-image: url(/assets/img/github\ \(1\).png);
    background-size: cover;
}
.steam {
    background-image: url(/assets/img/steam-logo.png);
    background-size: cover;
}
.img {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    z-index: 0;
}

.btn:hover, .btn a:hover{
    width: 300px;
    background-color: rgb(255, 255, 255);

    transition: width 0.75s ease-in-out;
}

.img:hover {
    border: 1px solid white;
}

.instagram .img:hover{
    background-size: cover;
    background-image: url(/assets/img/inst.jpg);
    
}
.steam .img:hover{
    background-size: cover;
    background-image: url(/assets/img/steam.jpg);
}
.telegram .img:hover{
    background-size: cover;
    background-image: url(/assets/img/tg.jpg);
}
.github .img:hover{
    background-size: cover;
    background-image: url(/assets/img/inst.jpg);
}

.img:after {
    content: "";
    position: relative;
    width: 100px;
    height: 100px;
    top: 0;
    left: 0;
    display: inline-block;
    background-color: transparent;
    overflow: hidden;
    transition: width 0.75s ease-in-out;
}
.img:hover::after {
    width: 300px;
    position: relative;
}
.btn:active {
    
}