body, html {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}
html::-webkit-scrollbar {
    background: transparent;
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* Fonts */
body {
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    font-style: normal;
}

header {
    float: left;
    width: 100%;
    height: 100vh;
}


main {
     float: left;
     width: 100%;
     height: 100vh;
}
footer {
    float: left;
    width: 100%;
    height: 10px;   
}

.avatar img {
    width: 200px;
    height: 200px;

    border: 2px solid white;
    margin-right: 100px;

}

.topic {
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: relative;
}

.avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    
}

.nick {
    width: 6ch;
    color: white;
    font-family: monospace;
    font-size: 50px;
    white-space: nowrap; /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    animation: printed_text 3s steps(6, end) forwards;
    position: relative;
    margin-left: 21%;
  }

  @keyframes printed_text{
    from {
      width: 0;
    }
  }

.text {
    width: 21ch;
    color: white;
    font-family: monospace;
    font-size: 25px;
    white-space: nowrap; /* не переносить текст на другую строку */
    overflow: hidden; /* скрываем переполнение контентом */
    animation: printed_text 3s steps(21, end) forwards;
    position: relative;

}


@media (width < 720px) {
    .avatar {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-items: center;
    }
    .text {
        width: 21ch;
        color: white;
        font-family: monospace;
        font-size: 25px;
        white-space: nowrap; /* не переносить текст на другую строку */
        overflow: hidden; /* скрываем переполнение контентом */
        animation: printed_text 3s steps(21, end) forwards;
    
    }
    .nick {
        width: 6ch;
        color: white;
        font-family: monospace;
        font-size: 50px;
        white-space: nowrap; /* не переносить текст на другую строку */
        overflow: hidden; /* скрываем переполнение контентом */
        animation: printed_text 3s steps(6, end) forwards;
      }
      .avatar img {
        position: relative;
    
        width: 200px;
        height: 200px;
    
        border: 2px solid white;
        margin-right: 0px;
    }
}

